################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Factories.SimpleFactory/obj
/Factories.SimpleFactory/bin/Debug/netcoreapp2.2
/Factories.Problem/bin/Debug/netcoreapp2.2
/Factories.Problem/obj
/Factories.FactoryMethod/bin/Debug/netcoreapp2.2
/Factories.FactoryMethod/obj
/.vs/Factories/v16
